@tailwind base;
@tailwind components;
@tailwind utilities;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

#__next {
  width: 100%;
  min-height: 100vh;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --background-color: #4C6B55;
  --white: #ffffff;
  --tw-color1: #a855f7;
  --tw-color1-hover: #9333ea;
}

.navLink {
  list-style-type: none;
}
.active {
  @apply text-[#43b083] dark:text-[#14F195];
}

body {
  display: flex;
  margin: 0;
  text-align: center;
  width: 100%;
}

/* Fluid Fonts */

body {
  font-size: calc(16px + (16 - 16) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 400;
  letter-spacing: 125%;
  line-height: 135%;
}

h1 {
  font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 900;
  letter-spacing: 125%;
  line-height: calc(36px + (40 - 36) * ((100vw - 320px) / (1280 - 320)));
}
h2 {
  font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 800;
  letter-spacing: 125%;
  line-height: calc(34px + (38 - 34) * ((100vw - 320px) / (1280 - 320)));
}
h3 {
  font-size: calc(18px + (20 - 18) * ((100vw - 320px) / (1280 - 320)));
  font-style: normal;
  font-weight: 700;
  letter-spacing: 125%;
  line-height: calc(28px + (32 - 28) * ((100vw - 320px) / (1280 - 320)));
}

/* Scrollbar */

/* width */
body::-webkit-scrollbar {
  width: 8px;
  background-color: var(--chakra-colors-transparent);
}

/* Track */
body::-webkit-scrollbar-track {
  @apply bg-transparent  dark:bg-[#03040e];
}

/* Handle */
body::-webkit-scrollbar-thumb {
  @apply bg-[#ffffff]  dark:bg-[#03040e];
  border-radius: 35px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wallet-adapter-dropdown {
  display: flex !important;
}

.glow {
  min-width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #374D3D !important;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.glow:hover {
  background-color: #293a2e !important;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
